---
version: '2.1'
services:
  dev:
    build: .
    working_dir: /code
    env_file: ["docker/dev.env"]
    command: ["bash", "-c", "/start.sh"]
    volumes:
      - ./:/code:ro,z
      - ./docker/home:/home/dev:z
      - ./docker/dev-command.sh:/start.sh:ro,z
      - ./docker/settings.py:/etc/waiverdb/settings.py:ro,z
      - ./docker/client_secrets.json:/etc/secret/client_secrets.json:ro,z
    user: '0'
    depends_on:
      waiverdb-db:
        condition: service_healthy
      keycloak:
        condition: service_started
    network_mode: service:keycloak
    healthcheck: &dev-healthcheck
      test: >-
        /code/docker/docker-entrypoint.sh python -c 'import requests;
        requests.get("http://127.0.0.1:8080").raise_for_status();
        requests.get("http://127.0.0.1:5004/healthcheck").raise_for_status();
        '
      interval: 1s
      timeout: 5s
      retries: 30

  waiverdb-db:
    image: postgres:18.1-alpine@sha256:b40d931bd0e7ce6eecc59a5a6ac3b3c04a01e559750e73e7086b6dbd7f8bf545
    restart: always
    env_file: ["docker/waiverdb-db.env"]
    healthcheck:
      <<: *dev-healthcheck
      test: "pg_isready -U postgres"

  keycloak:
    image: quay.io/keycloak/keycloak:26.5.0@sha256:5fdd7cda82e58775ed124294c7e16fabc33166d38dfc4aabebda7d64e7a964bf
    ports:
      - 127.0.0.1:5004:5004
      - 127.0.0.1:8080:8080
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
    command:
      - start-dev
      - --import-realm
    volumes:
      - ./docker/keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json:ro,z

networks:
  default:
    driver: bridge
