[tool.poetry]
name = "waiverdb"
version = "1.4.0"
description = "An engine for storing waivers against test results"
authors = [
  "Red Hat, Inc. and others"
]
license = "GPL-2.0-or-later"
readme = "README.md"
repository = "https://github.com/release-engineering/waiverdb"
homepage = "https://waiverdb.readthedocs.io/"

include = [
    "COPYING",
    "README.md",
    "conf/*",
    "conf/client.conf.example",
    "conf/client_secrets.json",
    "conf/fedora-messaging-example.toml",
    "conf/settings.py.example",
    "conftest.py",
    "docs/*",
    "fedmsg.d/*.py",
    "pytest.ini",
    "run-dev-server.py",
    "tests/*.py",
    "tests/client_secrets.json",
    "tox.ini",
    "waiverdb/migrations/*.ini",
    "waiverdb/migrations/*.mako",
    "waiverdb/migrations/*.py",
    "waiverdb/migrations/README",
    "waiverdb/migrations/versions",
    "waiverdb/static/*",
    "waiverdb/templates/*.html",
]

[tool.poetry.dependencies]
python = ">=3.8,<3.10"

flask = "^2.1.3"
flask-oidc = "^1.4.0"
Flask-RESTful = "^0.3.9"
Flask-SQLAlchemy = "^2.5.1"
Flask-Cors = "^3.0.10"
Flask-Migrate = "^4.0.4"
itsdangerous = {version = "==2.0.1", optional = true}

gssapi = "^1.8.2"
python-ldap = "^3.4.3"

SQLAlchemy = "^1.4.45"
psycopg2-binary = "^2.9.5"

gunicorn = "^20.1.0"
requests = "^2.28.1"
python-dateutil = "^2.8.2"

# CLI
click = "^8.1.3"
configparser = "^5.3.0"
openidc-client = "^0.6.0"
requests-gssapi = "^1.2.3"

# Monitoring
prometheus_client = "^0.15.0"

# Messaging
fedora-messaging = "^3.2.0"
"stomp.py" = "^8.1.0"

# Tests
flake8 = {version = "^5.0.4", optional = true}
pytest = {version = "^7.2.1", optional = true}
pytest-cov = {version = "^4.0.0", optional = true}
mock = {version = "^5.0.0", optional = true}

# Documentation
sphinx = {version = "^6.0.0", optional = true}
sphinxcontrib-httpdomain = {version = "^1.8.1", optional = true}
markupsafe = {version = "==2.1.2", optional = true}
# https://github.com/sphinx-contrib/httpdomain/issues/60
Werkzeug = {version = "<2.3", optional = true}

[tool.poetry.extras]
test = [
    "flake8",
    "pytest",
    "pytest-cov",
    "mock",
]
docs = [
    "sphinx",
    "sphinxcontrib-httpdomain",
]

[tool.poetry.scripts]
waiverdb-cli = "waiverdb.cli:cli"
waiverdb = "waiverdb.manage:cli"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
