# This is a list of pypi packages to be installed into virtualenv. Alternatively,
# you can install these as RPMs instead of pypi packages.

fedora_messaging
Flask
Flask-RESTful!=0.3.6
Flask-SQLAlchemy
flask-cors
SQLAlchemy
gssapi
flask-oidc

# Documentation requirements
sphinx
sphinxcontrib-httpdomain

# CLI
click
configparser
openidc-client
requests-gssapi

# Database
psycopg2-binary

# Monitoring
prometheus_client
