# This is a list of pypi packages to be installed into virtualenv. Alternatively,
# you can install these as RPMs instead of pypi packages.

fedora_messaging
Flask
Flask-RESTful!=0.3.6
Flask-SQLAlchemy
flask-cors
SQLAlchemy==1.4.36
gssapi
Flask-Migrate

stomp.py==8.0.1
cryptography==37.0.2

flask-oidc==1.4.0
itsdangerous==2.0.1

# Documentation requirements
sphinx
sphinxcontrib-httpdomain
markupsafe==2.1.1

# CLI
click
configparser
openidc-client
requests-gssapi

# Database
psycopg2-binary

# Monitoring
prometheus_client
