{% extends "layout.html" %}

{% block title %}
    WaiverDB: Permissions
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Maintainers</th>
                        <th>Testcases</th>
                        <th>Users/Groups</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in permissions -%}
                    <tr>
                        <td>{{ p["name"] }}</td>
                        <td>{{ p["maintainers"] | map("urlize") | join(" ") | safe }}</td>
                        <td>{{ p["testcases"] | join("<br />") | replace('-', '&#8209;') | safe }}</td>
                        <td>
                            {% if p["groups"] | length > 0 -%}
                            <span class="font-weight-bold">Groups:</span><br />
                            {{ p["groups"] | join("<br />") | replace('-', '&#8209;') | safe }}
                                {% if p["users"] | length > 0 -%}
                                <br />
                                {%- endif %}
                            {%- endif %}
                            {% if p["users"] | length > 0 -%}
                            <span class="font-weight-bold">Users:</span><br />
                            {{ p["users"] | join("<br />") | replace('-', '&#8209;') | safe }}
                            {%- endif %}
                        </td>
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>
{% endblock %}
