{% extends "layout.html" %}

{% block title %}
    WaiverDB: Permissions
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Maintainers</th>
                        <th>Testcases</th>
                        <th>Users/Groups</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in permissions -%}
                    <tr>
                        <td>{{ p["name"] }}</td>
                        <td><ul>
                          {%- for maintainer in p["maintainers"] %}<li>{{ maintainer | urlize }}</li>{% endfor -%}
                        </ul></td>
                        <td><ul>
                          {%- if p["_testcase_regex_pattern"] -%}<li><code>/{{ p["_testcase_regex_pattern"] }}/</code></li>{%- endif -%}
                          {%- for testcase in p["testcases_ignore"] %}<li><b>NOT</b> <code>{{ testcase }}</code></li>{% endfor -%}
                          {%- for testcase in p["testcases"] %}<li><code>{{ testcase }}</code></li>{% endfor -%}
                        </ul></td>
                        <td>
                            {% if p["groups"] | length > 0 -%}
                            <b>Groups:</b>
                            <ul>{%- for group in p["groups"] %}<li>{{ group }}</li>{% endfor -%}</ul>
                            {%- endif %}

                            {% if p["users"] | length > 0 -%}
                            <b>Users:</b>
                            <ul>{%- for user in p["users"] %}<li>{{ user }}</li>{% endfor -%}</ul>
                            {%- endif %}
                        </td>
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>
{% endblock %}
