{% extends "layout.html" %}

{% block title %}
    WaiverDB: Permissions
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Maintainers</th>
                        <th>Testcases</th>
                        <th>Groups</th>
                        <th>Users</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in permissions -%}
                    <tr>
                        <td>{{ p["name"] }}</td>
                        <td><ul>
                          {%- for maintainer in p["maintainers"] %}<li>{{ maintainer | urlize }}</li>{% endfor -%}
                        </ul></td>
                        <td><ul>
                          {%- if p["_testcase_regex_pattern"] -%}
                            <li>{{ p["_testcase_regex_pattern"] }}</li>
                          {%- endif -%}
                          {%- for testcase in p["testcases"] %}<li>{{ testcase }}</li>{% endfor -%}
                        </ul></td>
                        <td><ul>
                          {%- for group in p["groups"] %}<li>{{ group }}</li>{% endfor -%}
                        </ul></td>
                        <td><ul>
                          {%- for user in p["users"] %}<li>{{ user }}</li>{% endfor -%}
                        </ul></td>
                        <td>{{ p["description"] }}</td>
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>
{% endblock %}
