fedora_messaging
Flask
flask-cors
Flask-Migrate
Flask-RESTful!=0.3.6
prometheus_client
dogpile.cache
PyYAML

stomp.py==8.0.1
cryptography==37.0.1

flask-oidc==1.4.0
itsdangerous==2.0.1

sphinx
sphinxcontrib-httpdomain
markupsafe==2.0.1
