fedora_messaging
Flask
flask-cors
Flask-Migrate
Flask-RESTful!=0.3.6
prometheus_client
dogpile.cache
PyYAML

stomp.py==6.1.0
cryptography==3.4.6

flask-oidc==1.4.0
itsdangerous==1.1.0

sphinx
sphinxcontrib-httpdomain
markupsafe==1.1.1
